
body{
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  background-color: white;
}

header{
  color: black;

  padding: 1em;
}

.icon{
  margin-top: 2em;
  width: 200px;
  border-radius: 50%;
  grid-row: 1/3;
  grid-column: 2;
}

.icon:hover{
  transform: scale(1.5) rotate(5deg);
  transition-duration: 0.5s;
}

.container{
  text-align: center;
}

.jumbotron{
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-around;
}

.name{
  margin-top: 2em;
  justify-self: center;
  align-self: center;
  font-family: 'Roboto', sans-serif;
}

.lead{
  font-size: 25px;
  padding-bottom: 1em;
}


.wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 300px;
  grid-gap: 1em;
  padding: 3em;
}

.flip3D{
   width:400px; height:260px; margin:10px; float:left;
 }

.flip3D > .front{
	position:absolute;
	transform: perspective( 400px ) rotateY( 0deg );
	background: white;
  width:400px;
  height:260px;
  border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}

.flip3D > .back{
	position:absolute;
	transform: perspective( 400px ) rotateY( 180deg );
	background: #80BFFF;
  width:400px;
  height:260px;
  border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}

.flip3D:hover > .front{
	transform: perspective( 600px ) rotateY( -180deg );
}

.flip3D:hover > .back{
	transform: perspective( 600px ) rotateY( 0deg );
}

.back{
  padding: 1em;
}


.item1 .front{
  background-image: url("images/project1.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.item2 .front{
  background-image: url("images/project2.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.item3 .front{
  background-image: url("images/project3.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.item4 .front{
  background-image: url("images/project4.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.item5 .front{
  background-image: url("images/project5.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 1300px) {
  .wrapper{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 880px){
  .wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    padding: .5em;
  }
  .container{

    grid-column: 1/3;
  }
}

.footer{
  text-align: center;
  margin-top: 4em;

}

 .social {
  transform: scale(0.8);
  transition-duration: 0.5s;
  border-radius: 7px;
  color: #80BFFF;
  margin-bottom: .5em;
 }

 .social:hover {
      transform: scale(1.1);
  }

 .fa-wrench:hover {
     color: #3B5998;
 }
 .fa-github:hover {
     color: #d34836;
 }
 .fa-paper-plane:hover {
     color: #f39c12;
 }

 .button {
   border-radius: 5%;
   background-color: #f4511e;
   color: #FFFFFF;
   text-align: center;
   font-size: 20px;
   padding: 1em;
   width: 200px;
   transition: all 0.5s;
   cursor: pointer;
   display: inline-block;
   text-decoration: none;
   position: absolute;
   bottom: 1em;
 }

 .button:hover{
   background-color: firebrick;
 }

.more-info{
  margin-top: 3em;
  text-align: center;
  font-size: 20px;
}

.fa-cog{
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
